// Resource file for SciTE
// Copyright 1998-1999 by Neil Hodgson <neilh@hare.net.au>
// The License.txt file describes the conditions under which this software may be distributed.

#include <windows.h>

#include "SciTE.h"

DXJICON  ICON SciTE.ico

DXJMENU  MENU
BEGIN                                                 
  POPUP "&File"
  BEGIN
	MENUITEM "&New\tCtrl+N",  				IDM_NEW
	MENUITEM "&Open...\tCtrl+O",			IDM_OPEN
	MENUITEM "&Close",			IDM_CLOSE
	MENUITEM "&Save\tCtrl+S",  				IDM_SAVE
	MENUITEM "Save &As...",			IDM_SAVEAS
	//MENUITEM SEPARATOR
	//MENUITEM "&Print...\tCtrl+P",			IDM_PRINT
	//MENUITEM "Printer Setup...",	IDM_PRINTSETUP
	MENUITEM SEPARATOR
	MENUITEM "E&xit",    			IDM_QUIT
  END

  POPUP "&Edit"
  BEGIN
	MENUITEM "&Undo\tCtrl+Z",  				IDM_UNDO
	MENUITEM "&Redo\tCtrl+Y",  				IDM_REDO
	MENUITEM SEPARATOR
	MENUITEM "Cu&t\tCtrl+X",		IDM_CUT
	MENUITEM "&Copy\tCtrl+C",		IDM_COPY
	MENUITEM "&Paste\tCtrl+V",		IDM_PASTE
	MENUITEM "&Delete\tDel",			IDM_CLEAR
	MENUITEM "Select &All",			IDM_SELECTALL
	MENUITEM SEPARATOR
	MENUITEM "Find...\tCtrl+F",			IDM_FIND
	MENUITEM "Find Next\tF3",			IDM_FINDNEXT
	MENUITEM "F&ind in Files...",			IDM_FINDINFILES
	MENUITEM "R&eplace...\tCtrl+H",			IDM_REPLACE
	MENUITEM SEPARATOR
	MENUITEM "Go to...\tCtrl+G",			IDM_GOTO
	MENUITEM "Vertical Split",			IDM_SPLITVERTICAL
	MENUITEM SEPARATOR
	//MENUITEM "Make Selection &Uppercase\tCtrl+Shift+U",		IDM_UPRCASE
	//MENUITEM "Make Selection &Lowercase\tCtrl+U",		IDM_LWRCASE
	MENUITEM "View &Whitespace\tCtrl+Shift+8",		IDM_VIEWSPACE
  END

  POPUP "&Tools"
  BEGIN
	MENUITEM "&Compile\tCtrl+F7",			IDM_COMPILE
	MENUITEM "&Build\tF7",			IDM_BUILD
	MENUITEM "&Go\tF5",			IDM_GO
	MENUITEM "&Stop Executing\tCtrl+Break",			IDM_STOPEXECUTE
	MENUITEM SEPARATOR
	MENUITEM "Next Message\tF4",			IDM_NEXTMSG
	MENUITEM "Previous Message\tShift+F4",			IDM_PREVMSG
	MENUITEM SEPARATOR
	MENUITEM "Open &Local Options File",			IDM_OPENLOCALPROPERTIES
	MENUITEM "O&pen Global Options File",			IDM_OPENGLOBALPROPERTIES
  END

  POPUP "&Help"
  BEGIN
	MENUITEM "&About SciTE...",			IDM_ABOUT
  END
END

ABOUT DIALOG 26, 41, 200, 152
CAPTION "About SciTE"
STYLE WS_POPUP | WS_CAPTION | DS_3DLOOK | DS_SETFONT
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "", IDABOUTSCINTILLA, "Scintilla", WS_CHILD, 1, 1, 196, 128
	ICON "SciTE", -1, WS_CHILD | WS_VISIBLE | WS_BORDER, 132, 102, 120, 32, 32
	CONTROL "OK", IDOK, "Button", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 26, 132, 172, 20
END

GREP DIALOG 26, 41, 186, 66
CAPTION "Find in Files"
STYLE WS_POPUP | WS_CAPTION | WS_CLIPSIBLINGS | DS_3DLOOK | DS_SETFONT
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "Fi&nd what:", -1, "STATIC", WS_CHILD, 5, 8, 30, 8
	CONTROL "", IDFINDWHAT, "EDIT", WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP, 40, 7, 80, 13

	CONTROL "F&iles:", -1, "STATIC", WS_CHILD, 5, 28, 30, 8
	CONTROL "", IDFILES, "EDIT", WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP, 40, 27, 80, 13

	//CONTROL "&Directory:", -1, "STATIC", WS_CHILD, 5, 48, 30, 8
	//CONTROL "", IDDIRECTORY, "EDIT", WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP, 40, 47, 80, 13
	
	CONTROL "&Find", IDOK, "Button", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 6, 50, 14
	CONTROL "Cancel", IDCANCEL, "Button", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 26, 50, 14
END

GOLINE DIALOG 26, 41, 186, 46
CAPTION "Go To"
STYLE WS_POPUP | WS_CAPTION | WS_CLIPSIBLINGS | DS_3DLOOK | DS_SETFONT
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "&Enter Line Number:", -1, "STATIC", WS_CHILD, 5, 8, 70, 8
	CONTROL "", IDGOLINE, "EDIT", WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP | ES_NUMBER, 80, 7, 30, 13
	CONTROL "&Go To", IDOK, "Button", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 6, 50, 14
	CONTROL "Cancel", IDCANCEL, "Button", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 26, 50, 14
END

ACCELS ACCELERATORS
BEGIN
	"N", IDM_NEW,   VIRTKEY, CONTROL
	"O", IDM_OPEN,   VIRTKEY, CONTROL
	"S", IDM_SAVE,   VIRTKEY, CONTROL
	//"P", IDM_PRINT,   VIRTKEY, CONTROL

	"F", IDM_FIND,   VIRTKEY, CONTROL
	VK_F3, IDM_FINDNEXT,   VIRTKEY
	"H", IDM_REPLACE,  VIRTKEY, CONTROL
	"G", IDM_GOTO, VIRTKEY, CONTROL

	"U", IDM_UPRCASE,   VIRTKEY, CONTROL, SHIFT
	"U", IDM_LWRCASE,  VIRTKEY, CONTROL
	"8", IDM_VIEWSPACE, VIRTKEY, CONTROL, SHIFT

	VK_F7, IDM_COMPILE,  VIRTKEY, CONTROL
	VK_F7, IDM_BUILD,  VIRTKEY
	VK_F5, IDM_GO,  VIRTKEY
	VK_F8, IDM_STEP,  VIRTKEY

	VK_F4, IDM_NEXTMSG,  VIRTKEY
	VK_F4, IDM_PREVMSG,  VIRTKEY, SHIFT

	VK_TAB, IDM_NEXTFILE,  VIRTKEY, CONTROL

	VK_BACK, IDM_UNDO,  VIRTKEY, ALT
	VK_CANCEL, IDM_STOPEXECUTE,  VIRTKEY, CONTROL
END

VS_VERSION_INFO VERSIONINFO
FILEVERSION	1, 0, 0, 0
PRODUCTVERSION	1, 0, 0, 0
FILEFLAGSMASK	0x3fL
FILEFLAGS 0
FILEOS VOS_DOS_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
	BLOCK	"VarFileInfo"
	BEGIN
		VALUE	"Translation",	0x409,	1252
	END
	BLOCK	"StringFileInfo"
	BEGIN
		BLOCK "040904e4\0"
		BEGIN
			VALUE	"CompanyName\0",	"Neil Hodgson\0"
			VALUE	"FileDescription",	"SciTE.EXE - a Scintilla based Text Editor\0"
			VALUE	"FileVersion",	"1.0\0"
			VALUE	"InternalName",	"SciTE\0"
			VALUE	"LegalCopyright",	"Copyright 1998-1999 by Neil Hodgson <neilh@hare.net.au>\0"
			VALUE	"OriginalFilename",	"SciTE.EXE\0"
			VALUE	"ProductName",	"SciTE\0"
			VALUE	"ProductVersion",	"1.0\0"
		END
	END
END

